@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
  font-family: 'inter', sans-serif;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  gap: 20px;
  align-items: center;
}

.list-check {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 49, 49);
}

.main-Page {
  background-color: #8f70d8;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100vw;
  border-radius: 20%;
  box-shadow: 2px 2px;
}

.tittle {
  font-weight: 300;
  font-size: 38px;
  color: #fff;
}

.toDoList {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.task {
  width: 65%;
  height: 80%;
  border-radius: 5px;
  font-size: 20px;
}

.add {
  display: block;
  border: none;
  background-color: blue;
  color: whitesmoke;
  padding: 8px 15px;
  font-size: 20px;
  border-radius: 50%;
}

.listItem {
  flex: 1;
  gap: 10em;
}

.Completedbtn {
  background-color: rgb(33, 19, 116);
  color: #fff;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 50%;
  padding: 8px 15px;
  border-radius: 50%;
  border-color: rgb(240, 52, 177);
}
